@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-image: linear-gradient(to bottom right, white, black, black);
    color: #fafafc;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
  }
  h1{
    font-family: 'Permanent Marker', cursive;
  
    font-size: 50px;
  }
  h2 {
    text-align: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
  img{
    width: 15vw;
    height: 15vh;
    filter: grayscale(100%);
    cursor: pointer;
  }
  img:hover {
    filter:grayscale(0);
    transform: scale(1.5);
  }
  .portofolio {
    display: flex;
    gap: 20px;
  }
  .portofolio div p {
    text-align: center;
  }
  .icon-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .icon-caption img {
    width: 40px;
    height: 40px;
  }